* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0px;
    right: 0px;
}

.navbar .left {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
.navbar .right{
    display: flex;
}

.navbar .right i {
    color: white;
    width: 30px;
    padding: 15px;
    text-align: center;
    /* display: none; */
}
.navbar .right #click{
    display: none;
}

.navbar .right ul {
    display: flex;
}
/* .navbar .right i{
    color: white;
    padding: 10px 5px;
} */
/* .navbar .right i{
    display: none;
} */

.navbar .right ul a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}
.navbar .right ul a:hover {
    color: blue;
    text-decoration-line: underline;
}

/* #clicking{
    display: none;
} */

@media screen and (max-width:768px) {
    .navbar .right ul {
        flex-direction: column;
        position: fixed;
        left: -100%;
        height: 193px;
        top: 70px;
        /* margin: 20px 0; */
        background-color: black;
        width: 100%;
        align-items: center;
    }

    #click:checked ~ ul{
        left: 0;
    }

    .navbar .right ul li {
        margin: 10px 0px;
    }

    .navbar .right ul li:visited {
        display: none;
    }

    .navbar i {
        color: white;
        width: 53px;
        /* height: 70px; */
        display: inline;
        /* padding: 0px 6px; */
        right: 0;
        position: fixed;
        right: 92px;

    }
}


.entire {
    background-color: black;
    left: 0;
    right: 0px;
    width: 100%;
}

.entire .homesection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.entire i {
    text-align: center;
    color: white;
    display: block;
    padding: 30px;
}

.entire .homesection .leftsection {
    font-family: 'Inter';
    color: white;
    font-style: normal;
    /* font-weight: 700; */
    font-size: 60px;
    padding: 39px 100px;
    margin-top: 65px;
    /* height: 22px; */
    margin-bottom: 170px;
    animation-name: fadingheading;
    animation-duration: 2s;
}

@keyframes fadingheading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .entire .homesection {
        flex-direction: column;
    }
}

.homesection .rightsection img {
    padding: 20px;
    margin-top: 165px;
    background-color: black;
}

.aboutus {
    display: flex;
    margin: 75px 50px
}

@media screen and (max-width:768px) {
    .aboutus {
        flex-direction: column;
    }
}

.rightaboutus .text {
    padding: 45px 65px;
}

.rightaboutus h1 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
}

.rightaboutus .text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

.leftaboutus img {
    height: 520px;
    width: 561px;
}

.services {
    margin: 20px;
}

.services .text {
    padding: 20px 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
}

.services .boxsection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    overflow-x: auto;
    /* overflow-x: scroll; */
    gap: 45px;
}
.contact .forms .contacticons{
    float: right;
    padding: 0 10px;
    position: relative;
    /* top: 10px; */
    right: 20px;
    bottom: 10px;
}
.contact .forms .contacticons i{
    padding: 10px;
}

@media screen and (max-width:768px) {
    .services .boxsection {
        flex-direction: column;
    }
}


.services .boxsection .box {
    border: 1px solid black;
    padding: 15px 25px;
    background-color: pink;

}

.services .boxsection .box:hover {
    animation-name: boxeffects;
    animation-duration: 0.3s;
}

@keyframes boxeffects {
    from {
        background-color: white;
    }

    to {
        background-color: black;
        color: white;
    }

}

.services .boxsection .box .boxheading {
    font-family: 'Inter';
    font-style: normal;
    font-size: 40px;

}

.services .boxsection .box .content {
    font-family: 'Inter';
    font-style: normal;
}

.contact {
    background-color:lightblue;
    padding: 30px;
    margin-top: 85px;
    left: 0px;
    right: 0px;
}

.contact .heading {
    text-align: center;
    color: white;
    font-family: 'Inter';
    font-style: normal;

    font-size: 20px;
}

.contact h1 {
    padding: 20px;
}

.contact .forms .inputs input {
    width: 100%;
    height: 40px;
}

.contact .forms input {
    width: 300px;
    height: 30px;
}